$main-color: #8e5c48;

.submit-button {
  color: white;
  background-color: $main-color;
  border: none;
  font-size: 1.9rem;
  font-weight: bold;
  width: 100%;
  border-radius: 5px;
  padding: 20px 0;
}
