@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
  background-color: #f5f3e9;
  margin: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: inherit;
  font-family: 'GmarketSansMedium';
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
  font: inherit;
  background-color: inherit;
  border: inherit;
}

input {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
