@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
  background-color: #f5f3e9;
  margin: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: inherit;
}

label {
  font-size: 1.6rem;
}

p {
  margin: 0;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
  font: inherit;
  background-color: inherit;
  border: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

form {
  font-size: 1.6rem;
  width: 100%;
  max-width: 550px;
  min-width: 360px;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;

  margin: 0 22px;
  gap: 40px;
}
